@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom aesthetics for soft feelings */
body {
  background-color: #f8fafc;
  /* Slate 50 */
  color: #334155;
  /* Slate 700 */
}

/* Dark mode styles */
body.dark {
  background-color: #0f172a;
  /* Slate 900 */
  color: #e2e8f0;
  /* Slate 200 */
}